#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "age"
     "atuin"
     "bat"
     "btop"
     "curl"
     "direnv"
     "duf"
     "eza"
     "fd"
     "fzf"
     "gdu"
     "gh"
     "git"
     "git-lfs"
     "gnupg"
     "go"
     "golangci-lint"
     "htop"
     "jq"
     "neovim"
     "node"
     "ripgrep"
     "shellcheck"
     "starship"
     "superfile"
     "wget"
     "xz" -}}
{{ $casks := list
     "iterm2"
     "signal"
     "spotify" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
