# Chezmoi configuration
# https://www.chezmoi.io/reference/configuration-file/

[data]
    # Will be populated in later phases

# Source directory (where chezmoi reads from)
sourceDir = "{{ .chezmoi.sourceDir }}"
