{{ if stat "/opt/homebrew/bin/brew" -}}
fpath+=("{{ output "/opt/homebrew/bin/brew" "--prefix" | trim }}/share/zsh/site-functions")

eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end -}}
{{- $hostname := .chezmoi.hostname -}}
{{ if stat "/home/linuxbrew/.linuxbrew/bin/brew" -}}
fpath+=("{{ output "/home/linuxbrew/.linuxbrew/bin/brew" "--prefix" | trim }}/share/zsh/site-functions")


{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

{{   end }}
{{ end }}
{{ end -}}
