#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "age"
     "atuin"
     "bat"
     "btop"
     "curl"
     "direnv"
     "duf"
     "eza"
     "fd"
     "fzf"
     "gdu"
     "gh"
     "git"
     "git-lfs"
     "gnupg"
     "go"
     "go-task"
     "golangci-lint"
     "htop"
     "jq"
     "neovim"
     "node"
     "pkg-config"
     "ripgrep"
     "shellcheck"
     "starship"
     "superfile"
     "wget"
     "xz" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
EOF
